$hoe-active:               #38f;

.hoe-radio {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.hoe-radio input {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.hoe-radio-inner {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid #bbb;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.hoe-radio-inner:after {
  position: absolute;
  display: block;
  content: " ";
  top: 4px;
  left: 4px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .12s ease-in-out;
  -moz-transition: all .12s ease-in-out;
  transition: all .12s ease-in-out;
}

.hoe-radio-wrap.checked .hoe-radio-inner:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hoe-radio-group, .hoe-radio-wrap {
  display: inline-block;
  font-size: 12px;
}

.hoe-radio-wrap {
  cursor: pointer;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  vertical-align: middle;
  position: relative;
  text-align: center;
}

.hoe-radio-wrap:first-child {
  margin-left: 0;
}

.hoe-radio-wrap:last-child {
  margin-right: 0;
}

.hoe-radio-wrap.checked .hoe-radio-inner {
  border-color: $hoe-active;
  background: $hoe-active;
}

.hoe-radio-wrap .radio-name {
  display: block;
  line-height: 16px;
}

.hoe-radio-wrap.checked .radio-name {
  color: $hoe-active;
}

.hoe-radio-wrap .radio-desc {
  display: block;
  line-height: 16px;
  color: #999;
  margin-top: 2px;
}

// 方格状单选
.hoe-radio-group.grid-radio .hoe-radio-wrap {
  position: relative;
  margin-right: 0;
  text-align: center;
  border: 1px solid #cacaca;
  margin-left: 10px;
  width: 115px;
  border-radius: 2px;
  padding: 8px 0;
}
.hoe-radio-group.grid-radio .hoe-radio {
  display: none;
}

.hoe-radio-group.grid-radio .hoe-radio-wrap.checked:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -1px;
  right: -1px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAsVBMVEUAAAA0iP8ziP8zif80jP82jP80if81i/8ziv80iP80if80iv80if8zif81iv8zif8ziv8ziv8ziP80if80iv8ziP80if80iP82i/9Vqv////8ziP////9Ekv/c6v/8/f/4+//t9P9Rmv/0+P+qzv9wrP9pp/82iv/m8P/X6P9hov9Ynv+z0/+ZxP+Ovf94sP9Jlf8/j/86jP/e6//P4//J3//D3P+82P+71/+fx/+Et//A1nwuAAAAG3RSTlMAWO/sMi7tNCyCeH1zhjCOim7qNlPSxEkhBgHqln8DAAABI0lEQVRIx5XSx3LCUAyF4Uuq00NCqkSwjbEBU9Lb+z8YAo85w4hB1llp8f13dYNvUcvpb9pOT22ndwXRPkng9HTu8a7gsPIIbI/A4RGYHoHP06nHI7A9Ao9HYHsEtncFl/AIXJ7OdvojcgTwZgDvCg7EG4HlsxRBEz/hpCQ6af4+M08RmP5PfEZVoP2e8lPxE0Jg+Zn4nwKB5f/FfxeEwPDzHvPXe3VfNPAD8Z/iERg+Zh69EYItvsjytc9rj0D7X47rYtxn/ugSAuVl3RfmeLA6S/HDV8KuA3YsHkVvWaRJ5XUAj2K+8klKWwN4FLMhPALlUcj6JW3uSnsU4sekAnhdxPAI4FUxykkH8Pbq33rr8NRx+rsnn79/DOGh1Xid6DmEBYgzdhhRXpKqAAAAAElFTkSuQmCC") no-repeat;
  background-size: 24px auto;
}

.hoe-radio-group.grid-radio .hoe-radio-wrap.checked {
  border-color: $hoe-active;
}

// 单行展示
.hoe-radio-group.single-radio .hoe-radio-wrap {
  display: block;
  margin-bottom: 12px;
  border: none;
  text-align: left;
}

.hoe-radio-group.single-radio .hoe-radio-wrap.checked:after {
  display: none;
}