$hoe-active:               #38f;

.zent-select {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  line-height: 1.5;
  margin-right: 10px;
  outline: none;
  position: relative;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 160px;
  vertical-align: middle;
}

.zent-select:not(:last-child) {
  margin-right: 5px;
}

.zent-select-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 2px;
  display: inline-block;
  min-height: 30px;
  max-height: 76px;
  outline: none;
  padding: 5px 10px;
  -webkit-transition: border-color .25s;
  -moz-transition: border-color .25s;
  transition: border-color .25s;
  width: 100%;
  background-color: #fff;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 20px 5px 10px;
}

.zent-select .zent-select-text {
  font-size: 12px;
}

.zent-select-text:after {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAMAAAC38k/IAAAAM1BMVEUAAAAzMzMzMzMzMzMzMzMzMzM0NDQ0NDQ1NTU1NTU9PT1VVVU0NDQzMzMzMzM1NTUzMzOoQ7gOAAAAEHRSTlMA99vkxpd9STUhCgPOzGhlqqcGJgAAAEBJREFUCNdFy8kRwCAMwEDZ3JDD/VebCXhgf3qIR83pi9gmXCduyokCyVwCuvrfAarMuzLlPzLLiGZx4FoIDeADc4gEoYNfTDsAAAAASUVORK5CYII=) no-repeat no-repeat;
  background-size: 6px 5px;
  content: "";
  height: 5px;
  margin-top: -3px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  -moz-transition: transform .25s,-moz-transform .25s;
  transition: transform .25s;
  transition: transform .25s,-webkit-transform .25s,-moz-transform .25s;
  transition: transform .25s,-webkit-transform .25s;
  width: 6px;
}

.zent-select-tags {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 2px;
  display: inline-block;
  min-height: 30px;
  max-height: 76px;
  outline: none;
  padding: 5px 10px;
  -webkit-transition: border-color .25s;
  -moz-transition: border-color .25s;
  transition: border-color .25s;
  width: 100%;
  background-color: #fff;
  position: relative;
  padding: 2px 5px;
  overflow-y: auto;
  margin-bottom: -5px;
  line-height: 24px;
}

.zent-select .zent-select-tags,
.zent-select .zent-select-text {
  font-size: 12px;
}

.help-inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.help-inline a {
  color: #38f;
}